@import "grid";

* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.picture3-6-6 {
  width: 75vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.containerGallery3 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  //.picture:hover {
  //  box-shadow: -70px -70px white;
  //}
  .hexagon3 {
    background-image: url("../images/gallery3/1.jpg");

  }

  .pentagon3 {
    background-image: url("../images/gallery3/2.jpg");
    height: 90vh; //80
    width: 75vw; //38

  }
  .square3 {
    background-image: url("../images/gallery3/3.jpg");
    height: 50vh; //60
    width: 34vw; //38
  }

  .triangle3 {
    background-image: url("../images/gallery3/4.jpg");
    height: 90vh;
    width: 45vw;
  }
  .line3 {
    background-image: url("../images/gallery3/5.jpg");
    height: 90vh;
    width: 45vw;
  }
}

  .picture {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  //.invisible {
  //  display: none;
  //}