@import "grid";
@import "mixins";
@import "partials/_triangles.scss";
@import "partials/container";
@import "partials/_gradients.scss";
@import "partials/_gallery.scss";


* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: silver;
}






