@import "grid";

*{
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Miriam Libre', sans-serif;;
}

body {
  background-color: darkblue;
  .customize-support {
    background-color: darkblue;
  }
}

header {
  background-color: darkblue;
}

.container {
  margin-top: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  .frame:hover {
    box-shadow: -5px -5px red;
  }
}

.aboutBox {
 margin-top: 30vh;
  margin-left: 7vw;
  p:hover {
    font-weight: 900;
    color: red;
  }
}

.contactBox {
  margin-top: 25vh;
  margin-right: 4vw;
  margin-left: 2vw;
  p:hover {
    font-weight: 900;
    color: red;
  }
}

.aboutText {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  color: blueviolet;

}
.contactText {
  font-size: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: blueviolet;
}

.frame {
  border: 3px solid blueviolet;
}

.box-9-9 {
  width: 62vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

  //.gallery1BG {
  //  background-image: url("../images/gallery1/1.jpg");
  //  background-size: contain;
  //  height: inherit;
  //  width: inherit;
  //}


//.two {
//  div {
//    opacity: 1;
//    box-sizing: border-box;
//    background-image: url("../images/gallery2/1.jpg");
//    height: inherit;
//    width: inherit;
//
//  }
//}
//
//.nine {
//
//  &div:hover {
//    box-sizing: border-box;
//    background-image: url("../images/gallery8/1.jpg");
//    background-repeat: no-repeat;
//    background-size: cover;
//    height: inherit;
//    width: inherit;
//
//  }
//}






