@import "grid_gallery6";

* {
  margin: 0px auto;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.picture-6-6 {
  width: 70vw;
  height: 90vh;
  display: flex;
  justify-content: center;
}

.containerGallery6 {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  //.picture:hover {
  //  box-shadow: -70px -70px white;
  //}
  .hexagon {
    background-image: url("../images/gallery6/2.jpg");

  }
  .hexagon:hover {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
  .pentagon {
    opacity: 0;
  }
  .pentagon:hover {
    opacity: 1;
    background-image: url("../images/gallery6/1.jpg");
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    height: 95vh; //80
    width: 45vw; //38

  }
  .square {
    opacity: 0;
  }
  .square:hover {
    opacity: 1;

    background-image: url("../images/gallery6/3.jpg");
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
    height: 50vh; //60
    width: 34vw; //38
    border: 60px solid beige;
  }
}

  .picture {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
